# pychache
**/.__pycache__/
**/__pycache__/
# history
.history
__pycache__
**/data
**/data/*
# .vscode
.vscode
# .idea
.idea
# models
debug_exp/models/*
# mypy
.mypy_cache
# tensorboard
debug_exp/logs/train/events.out.tfevents.*
debug_exp/logs/val/events.out.tfevents.*
debug_exp/results/*
